<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, width=device-width" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../css/asiento.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilroy:wght@500;600&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilroy-Bold:wght@400&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"/>
    </head>
    <body>
    <header>
        <div class="box1">
            <a href="pelicula.html"><i class='bx bx-chevron-left'></i></a>
            <h2>Choose Seat</h2>
            <i class='bx bx-dots-vertical-rounded'></i>
        </div>
        <div class="screen">
            <img src="../storage/img/Vector 259.png" alt="linea-roja">
            <h5>Screen This Way</h5>
        </div>
    </header>
    <main>
        <section class="asiento-vip">
            <div class="a">
                <div class="letra">
                    <p>A</p>
                </div>
                <div class="asientos">
                    <div class="A1"></div>
                    <div class="A2"></div>
                    <div class="A3"></div>
                    <div class="A4"></div>
                    <div class="A5"></div>
                </div>
            </div>
            <div class="b">
                <div class="letra">
                    <p>B</p>
                </div>
                <div class="asientos">
                    <div class="B1"></div>
                    <div class="B2"></div>
                    <div class="B3"></div>
                    <div class="B4"></div>
                    <div class="B5"></div>
                    <div class="B6"></div>
                    <div class="B7"></div>
                </div>
            </div>
        </section>
        <section class="asiento-normal">
            <div class="c">
                <div class="letra">
                    <p>C</p>
                </div>
                <div class="asientos">
                    <div class="C1"></div>
                    <div class="C2"></div>
                    <div class="C3"></div>
                    <div class="C4"></div>
                    <div class="C5"></div>
                    <div class="C6"></div>
                    <div class="C7"></div>
                    <div class="C8"></div>
                    <div class="C9"></div>
                </div>
            </div>
            <div class="d">
                <div class="letra">
                    <p>D</p>
                </div>
                <div class="asientos">
                    <div class="D1"></div>
                    <div class="D2"></div>
                    <div class="D3"></div>
                    <div class="D4"></div>
                    <div class="D5"></div>
                    <div class="D6"></div>
                    <div class="D7"></div>
                    <div class="D8"></div>
                    <div class="D9"></div>
                </div>
            </div>
            <div class="e">
                <div class="letra">
                    <p>E</p>
                </div>
                <div class="asientos">
                    <div class="E1"></div>
                    <div class="E2"></div>
                    <div class="E3"></div>
                    <div class="E4"></div>
                    <div class="E5"></div>
                    <div class="E6"></div>
                    <div class="E7"></div>
                    <div class="E8"></div>
                    <div class="E9"></div>
                </div>
            </div>
            <div class="f">
                <div class="letra">
                    <p>F</p>
                </div>
                <div class="asientos">
                    <div class="F1"></div>
                    <div class="F2"></div>
                    <div class="F3"></div>
                    <div class="F4"></div>
                    <div class="F5"></div>
                    <div class="F6"></div>
                    <div class="F7"></div>
                    <div class="F8"></div>
                    <div class="F9"></div>
                </div>
            </div>
        </section>
        <div class="opciones">
            <div class="available">
                <div></div>
                <p>Abailable</p>
            </div>
            <div class="reserved">
                <div></div>
                <p>Reserved</p>
            </div>
            <div class="select">
                <div></div>
                <p>Selected</p>
            </div>
        </div>
    </main>
    <section class="detalles">
        <div class="fechas">
            <div class="fecha">
                <p>Fri</p>
                <h1>17</h1>
            </div>
            <div class="fecha">
                <p>Sat</p>
                <h1>18</h1>
            </div>
            <div class="fecha">
                <p>Sun</p>
                <h1>19</h1>
            </div>
            <div class="fecha">
                <p>Mon</p>
                <h1>20</h1>
            </div>
            <div class="fecha">
                <p>Tue</p>
                <h1>21</h1>
            </div>
            <div class="fecha">
                <p>Wed</p>
                <h1>21</h1>
            </div>
            <div class="fecha">
                <p>Thur</p>
                <h1>21</h1>
            </div>
        </div>
        <div class="precios">
            <div class="precio">
                <h1>13:00</h1>
                <p>$ 5.25 3D</p>
            </div>
            <div class="precio">
                <h1>15:45</h1>
                <p>$ 3.99 3D</p>
            </div>
            <div class="precio">
                <h1>18:50</h1>
                <p>$ 4.50 3D</p>
            </div>
            <div class="precio">
                <h1>20:30</h1>
                <p>$ 6.5 3D</p>
            </div>
        </div>
    </section>
    <section class="total">
        <div class="price">
            <h1>Price</h1>
            <p>$24,99</p>
        </div>
        <a href="#">
            <button>Buy ticket</button>
        </a>
    </section>
  </body>
</html>