<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <title>Pelicula</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="../css/pelicula.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"/>
  </head>
  <body >
    <header class="header">
        <a href="../index.html" class="atras">
            <i class='bx bx-chevron-left'></i>
        </a>
        <h2 class="cinema-selection">Cinema Selection</h2>
        <a href="#" class="tres-puntos">
            <i class='bx bx-dots-vertical-rounded'></i>
        </a>
    </header>
    <div class="info-peli">
        <img src="../storage/img/image 2.png" alt="">
        <div class="box-principal">
            <div class="box-principal2">
                <h2 class="titulo">Puss in boots the last wish</h2>
                <p class="genero">Action, Adventure</p>
            </div>
            <a href="trailer.html">
                <button class="watch-trailer">
                    <i class='bx bxs-right-arrow' style='color:#ffffff' ></i>
                    <p class="watch-trailer1">Watch Trailer</p>
                </button>
            </a>
        </div>
        <div class="descripcion">
            <p>
            Jake Sully and Ney'tiri have formed a family and are doing
            everything to stay together. However, they must leave their home
            and explore the regions of Pandora. When an ancient threat
            resurfaces, Jake must fight a difficult war against the humans.
            </p>
        </div>
    </div>
    <div class="cast-parent">
        <h1 class="cast">Cast</h1>
        <div class="cast-container">
            <div class="cast-images">
                <img class="cast-images-child" src="../storage/img/Ellipse 208.png" alt="">
                <div class="names">
                    <p class="antonio-banderas">Antonio Bandera</p>
                    <p class="puss-in-boots1">Puss in Boots</p>
                </div>                
            </div>
            <div class="cast-images">
                <img class="cast-images-child" src="../storage/img/Ellipse 208.png" alt="">
                <div class="names">
                    <p class="antonio-banderas">Antonio Bandera</p>
                    <p class="puss-in-boots1">Puss in Boots</p>
                </div>                
            </div>
            <div class="cast-images">
                <img class="cast-images-child" src="../storage/img/Ellipse 208.png" alt="">
                <div class="names">
                    <p class="antonio-banderas">Antonio Bandera</p>
                    <p class="puss-in-boots1">Puss in Boots</p>
                </div>                
            </div>
        </div>
    </div>
    <div class="cinema-parent">
        <h1>Cinema</h1>
        <div class="cinemas-container">
            <div class="Cinecampus">
                <div class="texto">
                    <h4 >Cinecampus</h4>
                    <p>Staff Lines, Saddar, Karachi</p>
                </div>
                <img class="Cinecampus-item" src="../storage/img/Rectangle 376.png" alt="">
            </div>
            <div class="neuplex">
                <div class="texto">
                    <h4 >Neuplex</h4>
                    <p>Khayaban - e Shaheen, Dha Phase 8</p>
                </div>
                <img class="Cinecampus-item" src="../storage/img/Rectangle 377.png" alt="">
            </div>
        </div>
    </div>
    <section class="book-now">
        <a class="box-rojo" href="#">
            <button>
                <h3>Book Now</h3>
            </button> 
        </a>
    </section>
  </body>
</html>