<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trailer</title>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header class="header-trailer">
        <a href="pelicula.html" class="atras">
            <i class='bx bx-chevron-left'></i>
        </a>
        <h1 class="trailer">Tráiler</h1>
    </header>
    <div class="box-trailer">
        <iframe src="https://www.youtube.com/embed/LRsoyHPp7RE"></iframe>
    </div>
</body>
</html>