@import url(variables.css);
body {
    margin: 0;
    line-height: normal;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* encabezado */

.home {
    width: 100%;
    background-color: var(--color-black);
    box-sizing: border-box;
    color: var(--color-white);
    flex: 1;
}
.info-perfil,
.encabezado,
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.encabezado {
    width: 100%;
    display: flex;
    align-items: center;
    color: var(--color-white);
}
.info-perfil {
    margin-top: 3vh;
    width: 85%;
    display: flex;
    /* background-color: palegoldenrod; */
    flex-direction: column;
    gap: 3vh;
}
.datos {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.texto-saludo {
  padding-left: 10px;
  width: 70%;
}
.foto-perfil {
  height: 48px;
  width: 48px;
  /* position: relative; */
  border-radius: var(--br-81xl);
  /* overflow: hidden;
  flex-shrink: 0;
  object-fit: cover; */
}
.hi-nombre,
.lets-watch-movie {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.hi-nombre {
  font-size: inherit;
  line-height: 150%;
  font-weight: 400;
  white-space: nowrap;
}

.lets-watch-movie {
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
}

.box-campana {
  display: flex;
  align-items: center;
  justify-content:center;
}
.campanita {
  display: flex;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(154, 154, 154, 0.5);
  width: 10vw;
  height: 5.5vh;
  font-size: 5vw;
}

.search {
  border-radius: var(--br-3xs);
  background: linear-gradient(90deg, #232323, #161616);
  border: 1px solid var(--color-white);
  height: 6vh;
  display: flex;
  justify-content: space-evenly;
}
.search-inner {
  font-size: 5vw;
}
.search-movie-cinema {
  width: 80%;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat);
  font-size: var(--body-medium-regular-size);
  background-color: transparent;
  height: 17px;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}

/* titulo */

.titulo {
  /* background-color: greenyellow; */
  padding-right: 4vh;
  display: flex;
  width: 100%;
  align-self: stretch;
  box-sizing: border-box;
  padding-bottom: 3vh;
}

.now-playing1 {
  width: 45%;
  display: flex;
  justify-content: center;
  /* background-color: red; */
  font-size: 4.5vw;
  font-family: inherit;
  min-width: 109px;
}
.see-all-movies {
  width: 55%;
  height: 5vh;
  /* background-color: blanchedalmond; */
  display: flex;
  justify-content: end;
  align-items: end;
  color: var(--color-red);
}
.see-all {
  font-size: 3.6vw;
  text-decoration: none;
  color: inherit;
  min-width: 45px;
}


/* posters */

.movie-posters {
  width: 100%;
  flex-direction: column;
  /* background-color: bisque; */
  display: flex;
  height: 45vh;
  box-sizing: border-box;
}

.search-icon {
  display: flex;
  justify-content: space-evenly;
  /* background-color: olive; */
  height: 100%;
  overflow-x: auto;
  width: 100%;
}

.ejemplo-poster {
  display: flex;

  flex-direction: column;
  /* background-color: #b83f3f; */
  margin-left: 5vw;
  border-radius: var(--br-xl);
  width: 50%;
  /* object-fit: cover; */
}
.ejemplo-poster:first-of-type {
  /* background-color: #b83f3f; */
  margin-left: 450vw;
}
.ejemplo-poster:last-of-type {
  /* background-color: #b83f3f; */
  margin-right: 5vw;
}
.box-img{
  display: flex;
  background-color: #b83f3f;
  border-radius: var(--br-xl);
  box-sizing: border-box;
}
.box-img img{
  width: 40vw;
  height: 30vh;
  object-fit: cover;
}
.detalles-movie {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: olive; */
}
.titulo-poster {
  padding-top: 2vh;
  margin: 0;
  font-size: 4.5vw;
  /* background-color: rebeccapurple; */
}
.genero-poster{
  font-size: 3.3vw;
  padding-top: 1vh;
  margin: 0;
  color: var(--blanco-transparente);
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 30px;
  /* background-color: red; */
}



/* Proximamente */

.Proximamente{
  margin: 0;
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6vh;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--body-medium-regular);
}
.movie-actions {
  margin-left: 6vw;
  margin-right: 6vw;
  /* background-color: yellow; */
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 60%;
}
.coming-soon {
  font-size: 5vw;
  font-family: inherit;
  min-width: 115px;
}
.see-all{
  font-size: 4vw;
  text-decoration: none;
  color: var(--color-red);
  min-width: 45px;
}



/* .recommended-movies .cart { */

  /* transition: transform 0.5s ease-in-out; */


.recommended-movies{
  /* background-color: aqua; */
  height: 27vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: var(--color-white);
  width: 100%;
  font-family: var(--font-poppins);

}
.cart:first-of-type {
  margin-top: 16vh; 
}
.cart:last-of-type {
  margin-bottom: 12vh;
}

.cart,
.recommendation-details,
.recommendation-title {
  width: 50vw;
  /* background: honeydew; */
  display: flex;
  flex-direction: column;
  height: 70%;
  
}
.cart {
  margin-top: 8px;
  border-radius: var(--br-xl);
  background: linear-gradient(90deg, #272727, #272727);
  flex-direction: row;
  padding: 9px var(--padding-3xs);
  box-sizing: border-box;
  gap: 18px;
  width: 85%;
  z-index: 1;
  height: 10vh;
}


.cart-item img {
  /* background-color: yellow; */
  position: relative;
  border-radius: var(--br-xl);
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.action-adventure,
.furious-10-2023 {
  /* background-color: darkcyan; */
  position: relative;
  font-family: var(--font-poppins);
  width: 100%;
  font-size: 3.5vw;
  white-space: nowrap;
  overflow: hidden; /* Oculta el desbordamiento del texto */
  text-overflow: ellipsis; /* Agrega "..." al final si el texto es demasiado largo */
}
.action-adventure {
  font-size: 12px;
  line-height: 18px;
  font-family: var(--font-roboto);
  display: inline-block;
  min-width: 99px;
}

.recommendation-title {
  gap: 2px;
}


/* footer */

.rectangle-parent {
  /* background-color: rgb(219, 165, 95); */
  position: fixed;
  bottom: 0; 
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  height: 11vh;
  box-shadow: 0-1px 7px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-mini);
  background: linear-gradient(90deg, #232323, #161616);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 100%;
  font-size: var(--font-size-3xs);
  color: var(--color-silver);
  justify-content: center;
}
.tabs-content-parent {
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.tabs-content {
  /* background-color: beige; */
  align-self: stretch;
}
.home-tab,
.tabs-content {
  display: flex;
  flex-direction: row;
}
.home-tab {
  width: 100%;
  /* background-color: wheat; */
  justify-content: space-around;
}
.icon-footer {
  font-size: 6vw;
}

.navigation-labels {
  /* background-color: wheat; */
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.browse,
.home1,
.profile,
.tickets {
  position: relative;
  display: inline-block;
  z-index: 3;
  font-size: 3.5vw;
}
.home1 {
  font-weight: 600;
  color: var(--color-red);
  min-width: 31px;
}

.header-trailer {
  width: 100%;
  display: flex;
  height: 20vh;
  align-items: center;
  justify-content: space-evenly;
}
.atras i{ 
  font-size: 13vw;
  color: var(--color-white);
}
.trailer {
  width: 100%;
  text-align: center;
  color: var(--color-white);
}
.box-trailer{
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-trailer iframe {
  width: 100%;
}